textarea {
    border: none;
    height: 300px;
    width: 400px;
}
#buttons {
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
}
.bottom {
    width: 33%;
}
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}
