html, body {
    margin: 0;
    height: 100%;
}

textarea {
    background-color: inherit;
    border: none;
    color: inherit;
    resize: none;
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.container {
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container:last-child {
    border-bottom: none;
}

#buttons, #overlay, #confirmDelete, #tabstrip {
    background-color: inherit;
    color: inherit;
    font-family: sans-serif;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
}

#buttons, #tabstrip, .tab {
    display: flex;
    flex-direction: row;
}

#buttons {
    border-top: 1px solid;
}

#tabstrip {
    border-bottom: 1px solid;
}

.tab.active {
    box-shadow: inset 0 2px;
}

.tab {
    flex-grow: 1;
    border-right: 1px solid;
}

.tabname {
    flex-grow: 1;
}

.mdi-plus {
    padding-left: 5px;
    padding-right: 5px;
}

.mdi-plus:hover {
    background-color: #cdced0;
}

#buttons > .mdi {
    padding-left: 5px;
}

#buttons > .mdi:first-child {
    padding-left: 0;
}

.mdi-keyboard-backspace {
    overflow-x: hidden;
}

#buttons > .mdi-keyboard-backspace, #buttons > .mdi-close {
    flex-grow: 1;
    overflow-y: hidden;
}

.mdi:hover {
    cursor: pointer;
}

#overlay, #confirmDelete {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 0;
}

#overlay {
    z-index: 1;
}

#confirmDelete {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: normal;
    z-index: 2;
}

#ynbox {
    display: flex;
    justify-content: center;
}

#yes, #no {
    border: 1px solid;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    width: 100px;
}

.name {
    cursor: pointer;
    flex-grow: 1;
}

#noteList {
    margin: 16px;
    overflow-y: auto;
}

#buttons > .mdi-close {
    display: none;
}

.mdi {
    cursor: pointer;
}

#siteName {
    align-items: center;
    display: flex;
    justify-content: center;
}

#search {
    border: none;
    width: 100%;
}

select {
    border: none;
}

/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.header {
    flex: 0 1 20px;
    /* https://stackoverflow.com/questions/33557043/shrink-to-fit-content-in-flexbox-or-flex-basis-content-workaround */
    overflow-y: hidden;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 20px;
    overflow-y: hidden;
}
