textarea {
    border: none;
    height: 300px;
    width: 400px;
}
#buttons, #overlay {
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
}
.bottom {
    width: 33%;
}
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: right;
}
.mdi {
    cursor: pointer;
}
.mdi-close {
    margin: 10px;
    float: right;
}
.mdi-delete {
    text-align: right;
}
#overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: .5s;
}
