.reactDrawerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-transparent);

    transition: 0.5s;
}

.reactDrawer {
    height: 100%;
    background-color: var(--background);
    transition: 0.5s;
    overflow: hidden;
    border-right: 1px solid var(--text-primary);
}
