.DrawerList {
    margin: 10px 5px;

    .DrawerList__Search {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }
}


.DrawerList__Item {
    cursor: pointer;
    display: flex;

    padding: 0.3em 0;
    align-items: center;

    border-bottom: 1px solid;

    .DrawerList__Item-name {
        flex-grow: 1;
        text-overflow: ellipsis;
    }
}

.DrawerList__Item:last-of-type {
    border-bottom: none;
}
