.reactDialogOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-transparent);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
}

.reactDialog {
    padding: 10px;
    background-color: var(--background);
    border: 1px solid var(--text-primary);
}
