:root {
  --background: white;
  --background-transparent: rgba(255, 255, 255, 0.5);
  --text-primary: black;
  --modal-background-color: rgba(0, 0, 0, .5);
}

[data-theme='dark'] {
  --background: black;
  --background-transparent: rgba(0, 0, 0, 0.5);
  --text-primary: white;
  --modal-backgrund-color: black;
}

html, body {
    margin: 0;
    height: 100%;
    font-size: 16;

    background-color: var(--background);
    color: var(--text-primary);
}
